<!-- app/views/shared/_footer.html.erb -->

<footer class="text-center py-4 bg-dark text-white">

  <p class="mb-2">© <%= Time.now.year %> Kevin Stal</p>

  <div class="d-flex justify-content-center gap-3">

<a href="https://github.com/K3V88"
   target="_blank"
   class="footer-icon fs-4">

  <i class="fa-brands fa-github"></i>
</a>

<a href="https://www.linkedin.com/in/YOUR_USERNAME"
   target="_blank"
   class="footer-icon fs-4">

  <i class="fa-brands fa-linkedin"></i>
</a>

  </div>

</footer>