<div class="container py-5 hero-content">

  <div class="hero-grid">

    <!-- LEFT -->
    <div class="hero-left">
      <h1 class="fw-bold">Welcome to Kevin Stal</h1>

      <p class="text-muted mb-4">
        I’m a Ruby on Rails developer building modern web applications.
      </p>

      <h4 class="mb-3 mt-5">What I can build</h4>

      <ul class="ps-3">
        <li class="mb-2">Static websites such as landing pages and portfolios</li>
        <li class="mb-2">Web applications with authentication using Devise</li>
        <li class="mb-2">Database-driven applications with PostgreSQL and ActiveRecord</li>
        <li class="mb-2">Interactive frontends using JavaScript</li>
        <li class="mb-2">Backend development with Ruby and Ruby on Rails</li>
      </ul>
    </div>

    <!-- RIGHT -->
    <div class="hero-right">
      <div class="contact-box">
        <h5 class="mb-3">Contact</h5>

        <p class="mb-1">Kevin Stal</p>
<p class="mb-1">
  <a href="mailto:kevin.stal@gmx.ch"
     target="_blank"
     class="clean-link">
    kevin.stal@gmx.ch
  </a>
</p>

<p class="mb-1">
  <a href="https://github.com/K3V88"
     target="_blank"
     class="clean-link">
    GitHub
  </a>
</p>

<p class="mb-1">
  <a href="https://linkedin.com/in/yourusername"
     target="_blank"
     class="clean-link">
    LinkedIn
  </a>
</p>

        <p class="mt-4">
          Based in Switzerland
        </p>
      </div>
    </div>

  </div>
</div>
